{% extends "layout.html" %}

{% block title %}
    Time Warp | Welcome!
{% endblock title %}

{% block header %}
    Time Warp
{% endblock header %}

      {% block main %}
        <div class="main-content center">
          <p>
            Struggling to keep track of different time zones to play games with your friends that live all over the world? 
          </p>
          <p>Enter the time to play below for a list of time zones that are all coordinated!</p>
        </div>
        <div class="form-container center">

            <form action="timezones.html" method="post" target="_blank">
                <div class="input-container">
                <fieldset>
                    <legend>Time Zones</legend>
                    {% for zone in zones %}
                        <div class="loc-item">
                            <input id="loc-{{ zone | lower }}" name="loc-{{ zone | lower }}" type="checkbox" value="{{ zone }}">
                            <label for="loc-{{ zone | lower }}">{{ zone }}</label>
                        </div>
                    {% endfor %}
                </fieldset>
                </div>

                <div class="input-container">
                    <label for="date">Day</label>
                    <input id="date" name="date" type="date" value="" required>
                </div>

                <div class="input-container">

                    <label for="time">Time</label>
                    <input id="time" name="time" type="time" required>
                </div>
                <button class="btn" type="submit">Get time zones</button>

            </form>
        </div>

          
       {% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}