{% extends "layout.html" %}

{% block title %}
    Time Zones
{% endblock title %}

{% block header %}
    Time Zone Results
{% endblock header %}

{% block main %}
    <p>Below you will find the relative time and date in each time zone based on the respective date and time provided from the form.</p>
    <div>
        <h2>Time and Date Entered:</h2>
        <p><strong>Day: </strong> {{ play.date }}</p>
        <p><strong>Time: </strong> {{ play.time }}</p>
    </div>
{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

