{% extends "layout.html" %}

{% block title %}
    Time Zones
{% endblock title %}

{% block header %}
    Time Zone Results
{% endblock header %}

{% block main %}
    <p>Below you will find the relative time and date in each time zone based on the respective date and time provided from the form.</p>
    <div class="proposed-container">
        <h2>Proposed Game Time:</h2>
        <p><strong>Day: </strong> {{ play.date }}</p>
        <p><strong>Time: </strong> {{ play.time }}</p>
    </div>
    <div class="results-container">
        {% for k,v in zones.items() %}
        <div class="results-item">
            <p class="location">{{ k }}</p>
            <p class="game-time">{{ v }}</p>
        </div>
        {% endfor %}
    </div>
    <p>{{ loc }}</p>

{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

