* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 1.8rem;
}

fieldset {
    border: none;
    display: inline-block;
}

footer {
    font-size: x-small;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 50%;
}

h1, h2, h3, h4, h5, h6 {
    color: crimson;
}

/* input {
    display: block;
    margin-top: 3px;
    padding: 7px;
    width: 100%;    
} */

legend {
    font-weight: 600;
    margin-bottom: 10px;
}

main {
    width: 100%;
    margin:  30px 0;    
}

p {
    margin: 10px 0;
    padding: 5px 0;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.btn {
    background-color: cornflowerblue;
    color: aliceblue;
    display: block;
    margin-top: 20px; 
    max-width: 300px;
    padding: 7px 10px;
    text-align: center;
}

.form-container, .results-container {
    background-color: aliceblue;
    margin: 20px 0;
    padding: 20px 0;
}

.input-container {
    margin-top: 20px;
}

.input-container:first-child {
    margin-top: 0px;
}

.input-container input {
    
    display: block;
    font-size: 16px;
    margin-top: 3px;
    padding: 7px;
    width: 100%;    
}

.location {
    color: crimson;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
}

.loc-item input, .loc-item label {
    display: inline-block;
    width: inherit;
}

.main-content, .proposed-container {
    width: 50%;
}

.page-title, .location, .game-time {
    text-align: center;
}
.page-title span {
    color: red;
}

.proposed-container {
    margin: 3rem auto;
}
.proposed-container h2 {
    color: steelblue;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results-item {
    display: inline-block;
    max-width: 100%;
    min-width: 25%;
    padding: 10px;
}

.results-item:last-child {
    border-bottom: none;
}

.results-item p {
    margin: 0 0;
    padding: 3px 0  ;
}

.search-container {
    margin-bottom: 30px;
}

.search-container input[type=search] {
    padding: 10px;
}